%h2 Testing Content Blocks (that have with no tab) mixed with static tabs
= bettertabs :static, :class => 'bettertabs example', :list_html_options => {:class => 'list_class'} do |tab|
  = tab.only_content_block do
    Content for only_content_block_1

  = tab.static :static_tab_1 do
    Content for static_tab_1

  = tab.only_content_block :partial => 'tab_content', :locals => {:local_var => 'Content for only_content_block_2'}

  = tab.static :static_tab_2 do
    Content for static_tab_2
